
<!-- SECCION CONTACTO -->
<section id="contacto" class="contacto">
    <div class="contenido-seccion">
      <h2>CONTACTO</h2>
      <div class="fila">
        <!-- Formulario-->
        <form id="formulario" class="col" action="https://formspree.io/f/xvonrqjv" method="POST">

          <input type="text" id="nombre" name="nombre" placeholder="Tú Nombre" />
          <div class="alert alert-warnings alerta_nombre" role="alert"></div>

          <input type="text" id="correo" name="email" placeholder="Dirección de correo" />
          <div class="alert alert-warnings alerta_correo" role="alert"></div>

          <input type="text" id="asunto" name="asunto" placeholder="Asunto" />
          <div class="alert alert-warnings alerta_asunto" role="alert"></div>

          <textarea id="mensaje" name="mensaje" cols="30" rows="10" placeholder="Mensaje"></textarea>

          <button type="submit">
            Enviar Mensaje <i class="fa-solid fa-paper-plane"></i>
            <span class="overlay"></span>
          </button>
          <p class="warnings" id="warnings">
          <p class="correctoE" id="correctoE">

        </form>
        <!-- Mapa -->
        <div class="col">
          <img src="./assets/img/ubicacion.png" alt="" />
          <div class="info">
            <ul>
              <li>
                <i class="fa-solid fa-location-dot"></i>
                Salta capital, Salta-Argentina
              </li>
              <li>
                <i class="fa-solid fa-mobile-screen"></i>
                Llamar: 387-4434836
              </li>
              <li>
                <i class="fa-solid fa-envelope"></i>
                Email: walo142@gmail.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   </section>