 <!-- SECCION PORTFOLIO -->
 <section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
      <h2>PORTFOLIO</h2>
      <div class="galeria">
        <div class="proyecto">
          <img src="./assets/img/googleforms.jpg" alt="" />
          <div class="overlay">
            <h3>Forms Google</h3>
            <p>Desarrollo</p>
          </div>
        </div>
        <div class="proyecto">
          <img src="./assets/img/Angular.png" alt="" />
          <div class="overlay">
            <h3>Angular</h3>
            <p>Frontend</p>
          </div>
        </div>
        <div class="proyecto">
          <img src="./assets/img/html5-js-css3.png" alt="" />
          <div class="overlay">
            <h3>HTML,CSS y Javascript</h3>
            <p>Incios</p>
          </div>
        </div>
        <div class="proyecto">
          <img src="./assets/img/p3.jpg" alt="" />
          <div class="overlay">
            <h3>Diseño Creativo</h3>
            <p>Fotografía</p>
          </div>
        </div>
        <div class="proyecto">
          <img src="./assets/img/p5.jpg" alt="" />
          <div class="overlay">
            <h3>Diseño Creativo</h3>
            <p>Fotografía</p>
          </div>
        </div>
        <div class="proyecto">
          <img src="./assets/img/p6.jpg" alt="" />
          <div class="overlay">
            <h3>Diseño Creativo</h3>
            <p>Fotografía</p>
          </div>
        </div>
      </div>
    </div>
  </section>