  <!-- MENU ENCABEZADO -->
  <div class="contenedor-header">
    <header>
      <div class="navbar">
        <div class="logo">
          <a href="#">Matias</a>
        </div>
        <ul class="links">
          <li><a href="#inicio">INICIO</a></li>
          <li><a href="#sobremi">SOBRE MI</a></li>
          <li><a href="#skills">HABILIDADES</a></li>
          <li><a href="#curriculum">CURRICULUM</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#contacto">CONTACTO</a></li>
        </ul>

        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>

      <div id="nav2" class="dropdown_menu" onclick="mostrarOcultarMenu()">
        <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
        <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
        <li><a href="#skills" onclick="seleccionar()">HABILIDADES</a></li>
        <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
        <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
        <li><a href="#contacto" onclick="seleccionar()">CONTACTO</a></li>
      </div>
    </header>
  </div>