<app-encabezado></app-encabezado>

<app-inicio></app-inicio>

<app-sobre-mi></app-sobre-mi>

<app-skill></app-skill>

<app-curriculum></app-curriculum>

<app-portfolio></app-portfolio>

<app-contacto></app-contacto>

  <!-- footer -->
  <footer>
    <a href="#inicio" class="arriba">
      <i class="fa-solid fa-angles-up"></i>
    </a>
    <div class="redes">
      <a href="https://www.facebook.com/matias.rodriguez.walo"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://github.com/waloRz?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a>

    </div>
  </footer>