 <!-- SECCION SKILLS -->
 <section class="skills" id="skills">
    <div class="contenido-seccion">
      <h2>Habilidades</h2>
      <div class="fila">
        <!-- Technical Skill -->
        <div class="col">
          <h3>Habilidades Tecnologicas</h3>
          <div class="skill">
            <span>Javascript</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>75%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>HTML & CSS</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>89%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Photoshop</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>80%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Wordpress</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>81%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>MySQL</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>80%</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Professional Skills -->
        <div class="col">
          <h3>Habilidades Profesionales</h3>
          <div class="skill">
            <span>Comunicación</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>80%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Trabajo en Equipo</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>70%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Creatividad</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>99%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Dedicación</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>85%</span>
              </div>
            </div>
          </div>
          <div class="skill">
            <span>Proyect Management</span>
            <div class="barra-skill">
              <div class="progreso">
                <span>94%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>