 <!-- SECCION CURRICULUM -->
 <section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
      <h2>Curriculum</h2>
      <div class="fila">
        <div class="col izquierda">
          <h3>Educación</h3>
          <div class="item izq">
            <h4>Lic en Analisis de Informatica</h4>
            <span class="casa">Universidad Nacional de Salta</span>
            <span class="fecha"></span>
            <p>
            </p>
            <div class="conectori">
              <div class="circuloi"></div>
            </div>
          </div>
          <div class="item izq">
            <h4>Computador Universitario</h4>
            <span class="casa">Universidad Nacional de Salta</span>
            <span class="fecha"></span>
            <p>            </p>
            <div class="conectori">
              <div class="circuloi"></div>
            </div>
          </div>
          <div class="item izq">
            <h4>Cursos Realizados</h4>
            <span class="casa"></span>
            <span class="fecha"></span>
            <p> * curso 1</p>
            <p> * curso 2</p>
            <div class="conectori">
              <div class="circuloi"></div>
            </div>
          </div>
        </div>

        <div class="col derecha">
          <h3>Experiencia de trabajo</h3>
          <div class="item der">
            <h4>Encargado de Obra y mantenimiento </h4>
            <span class="casa">Converger SRL</span>            
            <p>
              
            </p>
            <div class="conectord">
              <div class="circulod"></div>
            </div>
          </div>
          <div class="item der">
            <h4>Front Developer</h4>
            <span class="casa">Universidad Nacional de Salta</span>
            
            <p>            </p>
            <div class="conectord">
              <div class="circulod"></div>
            </div>
          </div>
          <div class="item der">
            <h4>Encargado de mantenimiento Informatico</h4>
            <span class="casa">UNSa</span>
            
            <p>            </p>
            <div class="conectord">
              <div class="circulod"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>